#name {
  display: inline-block;
}
#outro:hover{
  transform: scale(0.8);
  transform: scale(0.8);
  transform: scale(0.8);
}
#outro{
  background-color: grey;
  font: monospace;
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.me{
  border-radius: 55px;
  background-repeat: repeat;
  padding: 20px;
  width: 250px;
  height: 200px;
}
#men{
  padding: 10px 10px;
  cursor: pointer;
}
.menu{
  width: 100%;
  height: 175px;
  position: absolute;
  background-color: #DCDCDC;
  left: -100%;
  transition: all .3s ease-in-out;
} 
#check{
  display: none;
  position:absolute;
}
#check:checked ~ .menu{
  position: absolute;
  left: 0;
}
nav a:hover{
  background-color: #7FFFD4;
  color: black;
}
#cons{
  position:fixed;
  top: 10%;
  right: 5%;
  float:right;
  width: 40px;
  height: auto;
  position:absolute;
}
#cons li{
  list-style-type: none;
  color: white;
  list-style-type: none;
  padding: 10px;
  transition: .5s;
  position: relative;
}
#cons li i{
  font-size: 20px;
}
#cons li:hover{
  padding: 10px 18px;
}
#cons li:nth-child(1) {
  background: #3b5998;
}
#cons li:nth-child(2) {
  background: #00aced;
}
#cons li:nth-child(3) {
  background: #1E90FF;
}
#cons li:nth-child(4) {
  background: #B22222;
}
#cons li:nth-child(5) {
  background: #228B22;
}
